chat-element {
  position: relative;
  width: 100%;
  max-width: 800px;
  > div {
    min-height: calc(100dvh - 128px);
    display: flex;
    flex-direction: column;
    padding: 8px;
    grid-gap: 16px;
  }
}
