chat-list-item-element {
  user-select: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #8880;
  &:hover {
    background: #8882;
  }
  > div {
    height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > i {
    opacity: 0.5;
    font-size: 12px;
    display: block;
    height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.selected {
    border: 1px solid #888;
    background: #8884;
    > div {
      font-weight: bold;
    }
    > i {
      opacity: 1;
    }
  }
}
