chat-element {
  width: calc(100% - 100px);

  > div {
    min-height: calc(100dvh - 168px);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
    grid-gap: 16px;
    &:empty {
      justify-content: center;
      align-items: center;
      &::after {
        font-style: italic;
        content: "No messages";
      }
    }
  }

  &[layout="normal"] {
    max-width: 800px;
  }

  &[layout="dense"] {
    > div {
      --message-padding: 16px;
      grid-gap: 8px;
    }
  }
}
