chat-message-element {
  display: flex;
  grid-gap: 8px;

  .author {
    user-select: none;
    top: 0;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8888;
    font-size: 14px;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 40px;
    border-radius: 10px;
    border: 1px solid #8888;
    min-height: 40px;
    min-width: 40px;
    position: relative;
    overflow: hidden;

    .alert {
      display: none;
    }

    &:not(.done):not(.loading) .alert {
      display: block;
      user-select: none;
      background: inherit;
      color: var(--warning);
      position: absolute;
      bottom: 4px;
      right: 4px;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 1px solid var(--warning);
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  image-list-element:not(:empty) {
    margin-top: 8px;
  }

  .content {
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
    pre {
      padding: 4px;
      border-radius: 8px;
      background: #222;
      color: #fff;
    }
    code {
      border-radius: 4px;
      padding: 0 4px;
      background: #8884;
    }
    code,
    pre {
      white-space: pre-wrap;
      word-break: break-word;
    }
    pre code {
      padding: 0;
      background: none;
    }
  }

  &.user {
    padding-left: 20px;
    flex-direction: row-reverse;
    .container,
    .author {
      background: var(--primary);
      border-color: var(--primary);
      color: var(--primary-foreground);
    }
    .author {
      content: "ME";
    }
    .alert {
      left: 0;
    }
    image-list-element {
      justify-content: flex-end;
    }
  }

  &.assistant {
    padding-right: 20px;
    .container {
      background: var(--gray);
    }
    .author {
      content: "AI";
      background: var(--gray);
    }
    .alert {
      right: 0;
    }
  }
}

@media (max-width: 720px) {
  chat-message-element {
    padding: 0 !important;
    .author {
      display: none;
    }
  }
}
