chat-list-element {
  flex: 1;
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  overflow: hidden auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
  }
}
