chat-list-item-element {
  user-select: none;
  cursor: pointer;
  > div {
    height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > i {
    opacity: 0.5;
  }
  &.selected {
    background: #8884;
    > div {
      font-weight: bold;
    }
    > i {
      opacity: 1;
    }
  }
  padding: 8px 12px;
  border-radius: 8px;
  &:hover {
    background: #8882;
  }
}
