chat-input-element {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  grid-gap: 4px;
  height: 64px;
  justify-content: flex-end;
  margin-left: -50px;
  width: calc(100% + 80px);
  background: var(--background);
  > div {
    display: flex;
    grid-gap: 4px;
    input[type="text"] {
      flex: 1;
    }
  }
}
