chat-message-element {
  display: flex;
  > div {
    display: flex;
    flex-direction: column;
    padding: 12px;
    min-height: 1em;
    border-radius: 8px;
    position: relative;
    border: 1px solid #8888;
    > .author {
      position: absolute;
      top: 0;
      margin: 0 8px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #8888;
      font-size: 14px;
    }
    > .images:not(:empty) {
      margin-top: 16px;
      display: flex;
      grid-gap: 8px;
    }
    > .content {
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
      pre {
        padding: 4px;
        border-radius: 8px;
        background: #222;
        color: #fff;
      }
      code {
        border-radius: 4px;
        padding: 0 4px;
        background: #8884;
      }
      code,
      pre {
        white-space: pre-wrap;
        word-break: break-word;
      }
      pre code {
        padding: 0;
        background: none;
      }
    }
  }
  &.user {
    padding-left: var(--message-padding, 64px);
    justify-content: flex-end;
    > div {
      > .author {
        left: 100%;
        content: "ME";
        color: var(--background);
        background: var(--foreground);
      }
      background: var(--foreground);
      color: var(--background);
      > .images {
        justify-content: flex-end;
      }
    }
  }
  &.assistant {
    padding-right: var(--message-padding, 64px);
    > div {
      flex: 1;
      > .author {
        right: 100%;
        content: "AI";
        background: #8882;
      }
      background: #8882;
    }
  }
}
