dialogue-modal > .container {
  display: flex;
  flex-direction: column;
  grid-gap: 32px;
  > h3,
  > p {
    margin: 0;
  }
  > div {
    display: flex;
    grid-gap: 8px;
    > * {
      flex: 1;
    }
  }
}
