:root {
  --header-height: 52px;
}

header-element {
  z-index: 2;
  position: fixed !important;
  top: 0;
  right: 0;
  left: var(--navigation-width);
  height: var(--header-height);
  background: var(--background);
  border-bottom: 1px solid #888;
  display: flex;
  justify-content: center;
  transition: 100ms;
  &.center > div {
    align-items: center;
  }
  > div {
    width: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    > * {
      height: 1.2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:empty {
        display: none;
      }
    }
  }
  h4 {
    margin: 0;
  }
  i {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  header-element {
    left: 0;
  }
}

[navigation_closed] header-element {
  left: 0;
  > div {
    @media (max-width: 900px) {
      padding: 0 56px;
    }
  }
}

[navigation_closed][layout="wide"] header-element > div {
  padding: 0 56px;
}

[layout="cozy"] header-element > div {
  max-width: 800px;
}
