image-element {
  transition: background 100ms;
  background: #0000;
  position: relative;

  &:not(.open) {
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    .left,
    .right {
      display: none;
    }
  }

  .left {
    left: 24px;
    &::after {
      content: "🡸";
    }
  }
  .right {
    right: 24px;
    &::after {
      content: "🡺";
    }
  }
  .left,
  .right {
    font-size: 20px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background: var(--background);
    border: 1px solid #888;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.disabled {
      display: none;
    }
  }

  &.open {
    z-index: 10 !important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0008;
    backdrop-filter: blur(4px);

    img {
      max-height: calc(100% - 96px);
      max-width: calc(100% - 182px);
    }
  }
}
