.modal {
  position: fixed;
  background: #0008;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);

  > .container {
    width: 320px;
    background: var(--background);
    border: 1px solid #888;
    padding: 32px 24px;
    border-radius: 16px;
  }
}
