model-list-item-element {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #888;
  background: var(--gray);
  display: flex;
  flex-direction: column;
  position: relative;

  > b {
    margin-bottom: 4px;
  }

  > * {
    height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .indicator {
    display: none;
  }

  &.running .indicator {
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 2px solid #0f0;
    background: #0f04;
  }
}
