navigation-element {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 200px;
  max-width: 300px;
  background: #8884;
  padding: 8px 0;
  grid-gap: 8px;
  transition: 100ms;
  border-right: 1px solid #888;

  > chat-list-element {
    margin: 16px 0;
  }

  > button {
    margin: 0 8px;
    height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.menu {
      z-index: 2;
      &::after {
        content: "Hide";
      }
    }
  }

  &.closed {
    chat-list-element {
      display: none;
    }
    border: none;
    min-width: 0;
    width: 0;
    padding: 0;
    > button.menu {
      color: var(--background);
      background: var(--foreground);
      position: absolute;
      left: 8px;
      top: 8px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      &::after {
        content: "☰";
      }
    }
    > button {
      display: none;
      &.menu {
        display: block;
      }
    }
  }
}
