:root {
  --navigation-width: 240px;
}

navigation-element {
  z-index: 4;
  flex: 0 0 var(--navigation-width);
  width: var(--navigation-width);
  display: flex;
  flex-direction: column;
  background: var(--gray);
  padding: 8px 0;
  grid-gap: 8px;
  transition: 100ms;
  border-right: 1px solid #888;
  position: relative;

  @media (max-width: 600px) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    &:not(.closed)::after {
      content: "";
      background: #0008;
      position: absolute;
      left: calc(100% + 1px);
      top: 0;
      bottom: 0;
      width: 100dvw;
    }
  }

  > chat-list-element {
    margin: 8px 0;
  }

  > button {
    margin: 0 8px;
    height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.menu {
      &::after {
        content: "Hide";
      }
    }
  }

  &.closed {
    flex: 0 0 0;
    chat-list-element {
      display: none;
    }
    border: none;
    width: 0;
    padding: 0;
    > button.menu {
      position: absolute;
      margin: 0;
      left: 12px;
      top: 8px;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      padding: 2px 0 0;
      &::after {
        content: "☰";
        font-size: 18px;
      }
    }
    > button {
      display: none;
      &.menu {
        display: block;
      }
    }
  }
}
