new-chat-element {
  user-select: none;
  margin: 64px;
  width: 320px;
  max-width: 80%;
  &:not(.loading):empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &::after {
      content: "Couldn't communicate with the service. Check your Ollama installation.";
      font-style: italic;
      text-align: center;
    }
  }
  > form {
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
    > div {
      display: flex;
      flex-direction: column;
      grid-gap: 4px;
    }
    input[type="radio"],
    label {
      cursor: pointer;
    }
    .models {
      display: flex;
      flex-direction: column;
      grid-gap: 4px;
      &:empty::after {
        content: "No models installed.";
        font-style: italic;
        opacity: 0.5;
      }
    }
  }
}
