new-chat-element {
  user-select: none;
  padding: 32px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 16px;

  form {
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
    > div {
      display: flex;
      flex-direction: column;
      grid-gap: 4px;
    }
    .models {
      display: flex;
      flex-direction: column;
      grid-gap: 4px;
      &:empty::after {
        content: "No models installed.";
        font-style: italic;
        opacity: 0.5;
      }
      > div {
        cursor: pointer;
        border-radius: 8px;
        border: 1px solid #8884;
        padding: 0 8px 0 4px;
        height: 40px;
        display: flex;
        grid-gap: 2px;
        align-items: center;
        &:hover {
          background: #8882;
        }
        > input {
          height: 1em;
        }
        > label {
          flex: 1;
        }
      }
    }
  }
}
