new-chat-element {
  padding: 32px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 16px;

  form {
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
    > div {
      display: flex;
      flex-direction: column;
      grid-gap: 4px;
    }
    .models {
      display: flex;
      flex-direction: column;
      grid-gap: 4px;
      &:empty::after {
        content: "No models installed.";
        font-style: italic;
        opacity: 0.5;
      }
    }
  }
}
