settings-modal > .container {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;

  > h2 {
    margin: 0;
  }

  > form {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    > div {
      display: flex;
      justify-content: space-between;
      > div {
        display: flex;
        grid-gap: 8px;
      }
    }
  }
}
