body {
  --primary: #888;
  --primary-foreground: #fff;

  --dark-background: #222;
  --dark-foreground: #fff;
  --dark-alert: #f44;
  --dark-warning: #ff4;
  --dark-gray: #333;

  --light-background: #fff;
  --light-foreground: #000;
  --light-alert: #f44;
  --light-warning: #a80;
  --light-gray: #ddd;

  --background: var(--dark-background);
  --foreground: var(--dark-foreground);
  --gray: var(--dark-gray);
  --alert: var(--dark-alert);
  --warning: var(--dark-warning);
  @media (prefers-color-scheme: light) {
    --background: var(--light-background);
    --foreground: var(--light-foreground);
    --gray: var(--light-gray);
    --alert: var(--light-alert);
    --warning: var(--light-warning);
  }
  &[theme="dark"] {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --gray: var(--dark-gray);
    --alert: var(--dark-alert);
    --warning: var(--dark-warning);
  }
  &[theme="light"] {
    --background: var(--light-background);
    --foreground: var(--light-foreground);
    --gray: var(--light-gray);
    --alert: var(--light-alert);
    --warning: var(--light-warning);
  }

  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  margin: 0;
}

[color="gray"] {
  --primary: #888;
}
[color="red"] {
  --primary: #c00;
}
[color="green"] {
  --primary: #495;
}
[color="yellow"] {
  --primary: #dd0;
  --primary-foreground: #000;
}
[color="blue"] {
  --primary: #08c;
}
[color="magenta"] {
  --primary: #f28;
}
[color="cyan"] {
  --primary: #488;
}

* {
  box-sizing: border-box;
  outline: none;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
  }
}

input:focus,
button:focus,
[tabindex="0"]:focus {
  outline: solid var(--foreground);
  z-index: 1;
}

a {
  color: var(--primary);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input {
  user-select: none;
  padding: 4px;
  border-radius: 10px;
  border: 1px solid #888;
  &[type="text"] {
    padding: 6px 8px;
    background: #8884;
    color: var(--foreground);
    &::placeholder {
      color: var(--foreground);
    }
  }
  &:disabled {
    cursor: auto;
    color: #aaa;
    opacity: 0.4;
  }
}

button {
  user-select: none;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid var(--color, #888);
  font-size: 16px;
  background: none;
  color: var(--color, var(--foreground));
  &:hover {
    background: #8884;
  }
  &.primary {
    --text: var(--primary-foreground);
    --color: var(--primary);
    background: var(--color);
    border-color: var(--color);
    color: var(--text);
    &:hover {
      filter: brightness(1.2);
    }
  }
  &:disabled {
    cursor: auto;
    background: #888;
    border-color: #888;
    opacity: 0.4;
  }
}

.focus {
  position: relative;
  outline: thick double var(--foreground);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    background: var(--foreground);
    opacity: 0.2;
  }
}

.loading {
  position: relative;
  &::after {
    transition: 100ms;
    border-radius: inherit;
    background: #0004;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    animation: 0.25s infinite loading;
    content: "⠇";
  }
}
@keyframes loading {
  0% {
    content: "⠇";
  }
  17% {
    content: "⠋";
  }
  33% {
    content: "⠙";
  }
  50% {
    content: "⠸";
  }
  67% {
    content: "⠴";
  }
  83% {
    content: "⠦";
  }
}
