body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  margin: 0;
  --foreground: #fff;
  --background: #222;
  --primary: #0ff;
  @media (prefers-color-scheme: light) {
    --background: #fff;
    --foreground: #000;
    --primary: #088;
  }
  color: var(--foreground);
  background: var(--background);
}

a {
  color: var(--primary);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input {
  user-select: none;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #888;
}

button {
  user-select: none;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #888;
  font-size: 16px;
}

.focus {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 4px solid #000;
    border-radius: inherit;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    background: #fff4;
    border: 2px solid #fff;
  }
}

.loading {
  position: relative;
  &::after {
    border-radius: inherit;
    background: #8888;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    animation: 0.5s infinite loading;
    content: "⠇";
  }
}
@keyframes loading {
  0% {
    content: "⠇";
  }
  17% {
    content: "⠋";
  }
  33% {
    content: "⠙";
  }
  50% {
    content: "⠸";
  }
  67% {
    content: "⠴";
  }
  83% {
    content: "⠦";
  }
}
