tooltip-element {
  pointer-events: none;
  z-index: 6;
  position: fixed;
  left: calc(var(--x) * 1px);
  top: calc(var(--y) * 1px);
  font-size: 12px;
  animation: 100ms tooltip-fadein;

  .container {
    position: absolute;
    box-sizing: content-box;
    left: calc(50% + var(--shift) * 1px);
    transform: translateX(-50%);
    border: 6px solid #000;
    padding: 0 2px;
    border-radius: 8px;
    background: #000;
    width: var(--width, 400px);
    line-height: 1;
    max-height: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    &:not(.bottom) {
      bottom: 0;
    }
    &.bottom {
      top: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7px;
    height: 7px;
    background: #000;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes tooltip-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
